{% if site.footer-links.twitter and page.twitter %}
  <div class="flex-container">
    <div class="comment">
      <h2>Comment on Twitter</h2>
      <p>You can leave a comment by replying this tweet.</p>
    </div>

    <div class="twitter-box">
      <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"
        data-width="380" data-link-color="#4caf50">
        <a href="https://twitter.com/{{ site.footer-links.twitter }}/status/{{ page.twitter }}"></a>
      </blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
{% endif %}
