---
layout: default
---

<article class="post">
  <h1>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ page.date | date: "%B %e, %Y" }}
    {% endif %}
  </h1>

  {% unless site.disable_github_edit_link %}
  {% github_edit_link "Edit on GitHub" %}
  {% endunless %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  {% include post-taxonomy.html post=page %}
  {% include backlinks.html %}
  {% include twitter.html %}
</article>
