---
layout: default
---

<article class="post">
  {% if page.image %}
  {% capture post_image_url %}{% include image-url.html image=page.image %}{% endcapture %}
  <figure class="post-hero">
    <img src="{{ post_image_url | strip }}"
         alt="{{ page.image_alt | default: page.title }}" />
  </figure>
  {% endif %}

  <h1>{{ page.title }}</h1>

  {% include post-taxonomy.html post=page %}
  {% unless site.disable_github_edit_link %}
  {% github_edit_link "Edit on GitHub" %}
  {% endunless %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include post-taxonomy.html post=page %}
  {% include backlinks.html %}
  {% include twitter.html %}
</article>
